[submodule "3rdparty/QHotkey"]
	path = 3rdparty/QHotkey
	url = https://github.com/Skycoder42/QHotkey.git
[submodule "3rdparty/qt-material-widgets"]
	path = 3rdparty/qt-material-widgets
	url = https://github.com/Decodetalkers/qt-material-widgets.git
