[submodule "3rdparty/QHotkey"]
	path = 3rdparty/QHotkey
	url = https://github.com/Skycoder42/QHotkey.git
	shallow = true
[submodule "3rdparty/qt-material-widgets"]
	path = 3rdparty/qt-material-widgets
	url = https://github.com/Decodetalkers/qt-material-widgets.git
	shallow = true
[submodule "3rdparty/vcpkg"]
	path = 3rdparty/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
